node_modules/*
project/audio
project/css
project/data
project/effects
project/fonts
project/icon
project/img
project/js/libs
project/js/plugins/*
!project/js/plugins/CSVN_electronDebugHelper.js
project/js/rmmz*
project/js/main.js
project/js/plugins.js
project/movies
project/game.rmmzproject
project/index.html
project/package.json
dist/*